.wrapper{
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: var(--white);
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
    +.wrapper{
        margin-left: 8px;
    }
    &.disabled{
        pointer-events: none;
        opacity: 0.5;
    }
}
//Button types
.round{
    border-radius: 52px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    color: rgba(22, 24, 35, 0.75);
    background-color:  rgba(255, 255, 255, 1.0);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    font-size: 1.4rem;
    &:hover{
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.primary{
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);

    &:hover{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}
.outline{
    color: var(--primary);
    border-color:currentColor;
    &:hover{
        border-color:currentColor;
    }
}
.btn_text{
    background-color: transparent;
    &:hover{
        text-decoration: underline;
    }
}


//Button sizes
.small{
    min-width: 88px;
    padding: 4px 16px;
}
.large{
    min-width: 140px;
    padding: 14px 16px;
}