.menu-list {
  width: 224px;
  .menu-item {
    margin-left: 0;
    
    display: block;
  }
}
.menu-popper{
    padding: 8px 0;
    margin-top: 4px;
}
.menu-item{
    width: 100%;
    text-align: left;
    border-radius: 0;
    font-weight: 600;
    font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    &:hover{
        background-color: rgba(22, 24, 35, 0.03);
    }
}

//Header
.header{
  position: relative;
  height: 50px;
  margin-top: -8px;
}
.back-btn{
  width: 50px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}
.header-title{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}